<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	</head>
	<body>
		
		<ul class="admin-ul" id="Myul">
			<li>用户管理</li>
			<li>留言管理</li>
			<li>节目管理</li>
			<li>主持队信息管理</li>
			<li>公告管理</li>
			<li>活动管理</li>
		</ul>
			
			
			
			
		<script src="__PUBLIC__/js/jquery.min.js"></script>
		<script src="__PUBLIC__/js/bootstrap.min.js"></script>
		  <script type="text/javascript">
            $(function(){
                //改变div的高度
                $("#Myul").height($(window).height());
            });
        </script>
	</body>
</html>
