<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	</head>
	<body>
		<p style="font-size: 30px;"><b>用户管理</b></p>
		<table class="table table-hover">
			<thead>
				<tr>
					<td>ID</td>
					<td>学号</td>
					<td>用户名</td>
					<td>密码</td>
					<td>电话</td>
					<td>邮箱</td>
					<td>头像</td>
					<td>简介</td>
					<td>类型</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>1301050062</td>
					<td>吴锐伟</td>
					<td>123456</td>
					<td>660752</td>
					<td>1111@qq.com</td>
					<td>111.jpg</td>
					<td>lalalla</td>
					<td>0</td>
				</tr>
			</tbody>
		</table>
		
		
		
		<script src="__PUBLIC__/js/jquery.min.js"></script>
		<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	</body>
</html>
